span[data-toggle="tooltip"]{
	cursor: pointer;
}

#navbar{
	display: flex;
	justify-content: space-between;
}

.nav-link, .nav-link:hover{
	color:#e9ecef;
}

#carSelect{
	cursor:pointer;
	color:#007bff;
}

#car-select-modal-body{
	display: flex;
	align-items: center;
	justify-content: center;
}

.car-img{
	padding-right: 0;
	padding-left: 0;
	text-align: center;
	margin-bottom: 10px;
}


.spinner-border{
	visibility: hidden;
	display: flex;
	align-content: center;
	position: fixed;
	margin: auto;
	top:50%;
	width:3rem;
	height:3rem;
}


.jumbotron{
	padding-bottom: 1.5em;
}

#content{
	position:relative;
}

a.anchor {
	position:absolute;
    top: -65px;
    visibility: hidden;
}

.metric-contaier{
	display: flex;
	justify-content: space-between;
}

.weight{
	font-size: .8rem;
}

@media (max-width: 767px){
	.weight{
		margin-right: 40%;
	}
}