span[data-toggle="tooltip"]{
	cursor: pointer;
}

.navbar{
	display: flex;
	justify-content: space-between;
}

.navbar-dark .navbar-nav .nav-link, 
.navbar-dark .navbar-nav .nav-link:hover{
	color:#e9ecef; 
}

#carSelect, #cost{
	cursor:pointer;
	color:#007bff;
}

#car-select-modal-body{
	display: flex;
	align-items: center;
	justify-content: center;
}

.car-img{
	padding-right: 0;
	padding-left: 0;
	text-align: center;
	margin-bottom: 10px;
}


.spinner-border{
	visibility: visible;
	display: flex;
	align-content: center;
	position: fixed;
	margin: auto;
	top:50%;
	width:3rem;
	height:3rem;
}

#overlay{
	position: fixed;
	visibility: visible;
	width: 100%; 
	height: 100%;
	top: 0; 
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); 
	z-index: 2;
	cursor: pointer; 
}

.jumbotron{
	padding-bottom: 1.5em;
}

@media (max-width: 576px){
	.jumbotron{
		padding-top: 3em;
	}
}

#content{
	position:relative;
}

a.anchor {
	position:absolute;
    top: -65px;
    visibility: hidden;
}

.metric-contaier{
	display: flex;
	justify-content: space-between;
}

.weight{
	font-size: .8rem;
}

@media (max-width: 767px){
	.weight{
		margin-right: 40%;
	}
}

.parts {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.part {
	flex: 0 0 135px;
	margin: 10px;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
	background:rgba(220,220,220,.7);
	border-radius: 10px;
}

.part img {
	max-width: 100%;
	min-width: 100%;
	background-color:white;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

@media (min-width: 992px){
	.part{
		flex: 0 0 130px;
	}
}

@media (max-width: 515px){
	.part{
		flex: 0 0 115px;
	}
}

@media (max-width: 459px){
	.part{
		flex: 0 0 100px;
	}

	.part p{
		word-break: break-all;
	}
}

@media (max-width: 439px){
	.part{
		flex: 0 0 90px;
	}
}

.part p {
	padding: 10px 20px 0px;
	text-align: center;
}

.part p span{
	font-weight: 500;
}