<html>
	<head>
		<title>ISE Module</title>
		<link rel = 'stylesheet' href = 
		{{url_for('static', filename = 'css/bootstrap-reboot.css')}}></link>
		<link rel = 'stylesheet' href = 
		{{url_for('static', filename = 'css/bootstrap.css')}}></link>
		<link rel = 'stylesheet' href = 
		{{url_for('static', filename = 'css/style.css')}}></link>
		<link rel='icon' href = {{url_for('static', filename = 'images/code-logo.png')}}>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<nav id="navbar" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		  	<a class="navbar-brand" href="#home">LEGO ISE Module</a>
		  	<ul class="nav">
		    	<li class="nav-item">
		      		<a class="nav-link" href="#requirements">Requirements</a>
		    	</li>
		    	<li class="nav-item">
		      		<a class="nav-link" href="#market">Market</a>
		    	</li>
		    	<li class="nav-item">
		      		<a class="nav-link" href="#summary">Summary</a>
		    	</li>
		  	</ul>
		</nav>
		
		<main role = "main">
			<div id='home' class="jumbotron">
				<div class="container">
					<br/>
				  	<h1 class="display-4">LEGO Vehicle Analysis</h1>
				  	<p class="lead">Welcome to the LEGO Industrial & Systems Engineering Module. Your objective is to design a new LEGO vehicle that maximizes revenue. The model must satisfy all 10 design requirements specified below, and its market price will be determined by the 7 market research metrics below. You may only use parts available in the <a id ="cost" data-toggle="modal" data-target="#costModal">inventory</a>. Good Luck!</p>
				  	<hr class="my-4">
				  	<p>Once you created the model of your vehicle in the Bricklink Studio, export it as a .ldr file (File → Export As → Export as LDraw) and upload it here for analysis.</p>
				  	<p>
				    	<input id ="file" type="file" accept=".ldr" onchange = "getResults()">
				  	</p>
				  	<hr class="my-4">
				  	<p>
				  		Or, choose from one of the sample models <span id ="carSelect" data-toggle="modal" data-target="#carSelectModal">
					  here</span>.
				  	</p>
				</div>
			</div>

			<!-- Sample Car Selection Modal -->
			<div onClick = 'showModal("#carSelectModal")' class="modal fade" id="carSelectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  	<div class="modal-dialog" role="document">
			    	<div class="modal-content">
			      		<div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel">Sample Models</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          			<span aria-hidden="true">&times;</span>
			        		</button>
			      		</div>
			      		<div id ="car-select-modal-body" class="modal-body row" >
			        		<div class="card col-md-4 car-img" style="width: 18rem;">
							  	<img class="card-img-top" src="{{url_for('static', filename = 'images/modelA.png')}}" alt="Model A">
							  	<div class="card-body">
							    	<h5 class="card-title">Model A</h5>
							    	<p class="card-text">Small model with limited seating, but better ventilation.</p>
							    	<a href="#" class="btn btn-primary" data-dismiss="modal" onclick="loadSample('modelA.ldr')">Use Model</a>
							    	&nbsp;or&nbsp;
							    	<a href="{{url_for('static', filename = 'ldr/modelA.ldr')}}" class="btn btn-primary"  download>Download</a>
							  	</div>
							</div>
							<div class="card col-md-4 car-img" style="width: 18rem;">
							  	<img class="card-img-top" src="{{url_for('static', filename = 'images/modelB.png')}}" alt="Model B">
							  	<div class="card-body">
							    	<h5 class="card-title">Model B</h5>
							    	<p class="card-text">Medium model with less cargo space, but more aerodynamics.</p>
							    	<a href="" class="btn btn-primary" data-dismiss="modal" onclick="loadSample('modelB.ldr')">Use Model</a>
							    	&nbsp;or&nbsp;
							    	<a href="{{url_for('static', filename = 'ldr/modelB.ldr')}}" class="btn btn-primary"  download>Download</a>
							  	</div>
							</div>
							<div class="card col-md-4 car-img" style="width: 18rem;">
							  	<img class="card-img-top" src="{{url_for('static', filename = 'images/modelC.png')}}" alt="Model C">
							  	<div class="card-body">
							    	<h5 class="card-title">Model C</h5>
							    	<p class="card-text">Large model with the highest cost, but the most cargo space</p>
							    	<a href="" class="btn btn-primary" data-dismiss="modal" onclick="loadSample('modelC.ldr')">Use Model</a>
							    	&nbsp;or&nbsp;
							    	<a href="{{url_for('static', filename = 'ldr/modelC.ldr')}}" class="btn btn-primary"  download>Download</a>
							  	</div>
							</div>
			      		</div>
			    	</div>
			  	</div>
			</div>

			<!--Spinner-->
			<div id="overlay" class="d-flex justify-content-center">
			  	<div id='spinner' class="spinner-border" role="status">
			    	<span class="sr-only">Loading...</span>
			  	</div>
			</div>


			<div class="container">
				<div class="row" data-spy='scroll' data-target='#navbar' data-offset='50'>
					<div class="col-md-4">
						<a class='anchor' id='requirements'></a>
						<h2>Design Requirements</h2>
						<p>
							<span class = "req" data-toggle="tooltip" data-placement="top" title="Do you have a seat (4079) facing the front of the car?">❔</span> 
							Vehicle shall have at least one seat facing forward.
						</p>
						<p>
							<span class = "req" data-toggle="tooltip" data-placement="top" title="Are there any pieces blocking the seat (4079) area?">❔</span> 
							Seat area shall be able to comfortably seat a minifigure.
						</p>
						<p>
							<span class = "req" data-toggle="tooltip" data-placement="top" title="Do you have a seat (4079) facing the steering wheel (3829c01)?">❔</span> 
							Vehicle shall have exactly one steering wheel facing a seat.
						</p>
						<p>
							<span class = "req" data-toggle="tooltip" data-placement="top" title="Do you have four of the correct type of wheel (30027bc01)?">❔</span> 
							Vehicle shall have at least four wheels.
						</p>
						<p>
							<span class = "req" data-toggle="tooltip" data-placement="top" title="Are there exactly two wheels (30027bc01) paired with every axle (2926)?">❔</span>
							All wheels shall be securely attached to axels.
						</p>
						<p>
							<span class = "req" data-toggle="tooltip" data-placement="top" title="Do you have 2 or more round tiles (98138) colored Trans-Clear facing forward?">❔</span>
							Vehicle shall have at least two clear lights visible from the front.
						</p>
						<p>
							<span class = "req" data-toggle="tooltip" data-placement="top" title="Do you have 2 or more round tiles (98138) colored Trans-Red facing backward?">❔</span>
							Vehicle shall have at least two red lights visible from the rear.
						</p>
						<p>
							<span class = "req" data-toggle="tooltip" data-placement="top" title="Do you have one rectangular tile (3069b) colored Yellow facing backward?">❔</span> 
							Vehicle shall have a yellow license plate visible from the rear.
						</p>
						<p>
							<span class = "req" data-toggle="tooltip" data-placement="top" title="Are there any pieces disconnected from the rest of the model?">❔</span> 
							All components shall be secured to the chassis without gaps.
						</p>
						<p>
							<span class = "req" data-toggle="tooltip" data-placement="top" title="Do you only have one chassis piece (3032/3035/3030)?">❔</span>
							Only one chassis shall be used.
						</p>
						<p>For a hint on how to fulfill a certain requirement, tap the icon next to the requirement.</p>
					</div>
					
					<div class = 'col-md-4'>
						<a class='anchor' id='market'></a>
						<h2>Market Research</h2>
						<div class='metric-contaier'>
							<p>Seating: <span class = "rsch">__</span></p>
							<p class='weight'>Weight: 25%</p>
						</div>
						<div class='metric-contaier'>
							<p>Ventilation: <span class = "rsch">__</span></p>
							<p class='weight'>Weight: 15%</p>
						</div>
						<div class='metric-contaier'>
							<p>Stability: <span class = "rsch">__</span></p>
							<p class='weight'>Weight: 5%</p>
						</div>
						<div class='metric-contaier'>
							<p>Headlights: <span class = "rsch">__</span></p>
							<p class='weight'>Weight: 5%</p>
						</div>
						<div class='metric-contaier'>
							<p>Taillights: <span class = "rsch">__</span></p>
							<p class='weight'>Weight: 5%</p>
						</div>
						<div class='metric-contaier'>
							<p>Cargo Space: <span class = "rsch">__</span></p>
							<p class='weight'>Weight: 25%</p>
						</div>
						<div class='metric-contaier'>
							<p>Aerodynamics: <span class = "rsch">__</span></p>
							<p class='weight'>Weight: 20%</p>
						</div>
						<p>The Market Price of your vehicle will only be calculated if your vehicle satisfies all the design requirements. It be determined by how well your vehicle performs in these 7 key market metric categories. Try to maximize the score in each of the categories to increase the value of your model.</p>
					</div>

					<div class = 'col-md-4'>
						<a class='anchor' id='summary'></a>
						<h2>Financial Summary</h2>
						<p>Chassis: <span id = "chassis_type">__</span> </p>
						<p>Chassis Cost: <span id = "chassis_cost">__</span> </p>
						<p>You must purcahse a chassis before designing a model. There are three chassis choices, each with a different size and cost.</p>
						<br/>
						<p>Mfg. Cost: <span class = "rsch">__</span></p>
						<p>Market Price: <span class = "rsch">__</span></p>
						<p>Revenue: <span class = "rsch">__</span></p>
						<p>The cost of your model is a sum of the costs of the individual parts used. The market price was determined as a function of the scores your model earned in the market researh metrics, weighted accordingly. The difference between the price and cost results in the revenue.</p>
					</div>
				</div>

				<div id="costModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
				  	<div class="modal-dialog modal-lg">
				    	<div class="modal-content">
					      	<div class="modal-header">
					        	<h5 class="modal-title">Inventory</h5>
					        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          		<span aria-hidden="true">&times;</span>
					       		</button>
					      	</div>
					      	<div class="modal-body">
					       		<p>You may ONLY use the parts available in the inventory; otherwise your model will not be analyzed. Since you will be purchasing the chassis separately, its cost does not add to the model's cost.</p>
					       		<div class='parts'>
					       			<div class='part'>
					       				<img src='{{url_for('static', filename = 'images/3032.png')}}' alt = '3032'>
					       				<p>
					       					<span>Chassis A</span>
					       					<br/>3032
					       					<br/>$30
					       				</p>
					       			</div>
					       			<div class='part'>
					       				<img src='{{url_for('static', filename = 'images/3035.png')}}' alt = '3035'>
					       				<p>
					       					<span>Chassis B</span>
					       					<br/>3035
					       					<br/>$40
					       				</p>
					       			</div>
					       			<div class='part'>
					       				<img src='{{url_for('static', filename = 'images/3030.png')}}' alt = '3030'>
					       				<p>
					       					<span>Chassis C</span>
					       					<br/>3030
					       					<br/>$50
					       				</p>
					       			</div>
					       			<div class='part'>
					       				<img src='{{url_for('static', filename = 'images/30027bc01.png')}}' alt = '30027bc01'>
					       				<p>
					       					<span>Tire & Rim</span>
					       					<br/>30027bc01
					       					<br/>$3
					       				</p>
					       			</div>
					       			<div class='part'>
					       				<img src='{{url_for('static', filename = 'images/2926.png')}}' alt = '2926'>
					       				<p>
					       					<span>Axel</span>
					       					<br/>2926
					       					<br/>$2
					       				</p>
					       			</div>
					       			<div class='part'>
					       				<img src='{{url_for('static', filename = 'images/61409.png')}}' alt = '61409'>
					       				<p>
					       					<span>Fender</span>
					       					<br/>61409
					       					<br/>$2
					       				</p>
					       			</div>
					       			<div class='part'>
					       				<img src='{{url_for('static', filename = 'images/50950.png')}}' alt = '50950'>
					       				<p>
					       					<span>Fender</span>
					       					<br/>50950
					       					<br/>$2
					       				</p>
					       			</div>
					       			<div class='part'>
					       				<img src='{{url_for('static', filename = 'images/30602.png')}}' alt = '30602'>
					       				<p>
					       					<span>Hood</span>
					       					<br/>30602
					       					<br/>$3
					       				</p>
					       			</div>
					       			<div class='part'>
					       				<img src='{{url_for('static', filename = 'images/93604.png')}}' alt = '93604'>
					       				<p>
					       					<span>Hood</span>
					       					<br/>93604
					       					<br/>$3
					       				</p>
					       			</div>
					       			<div class='part'>
					       				<img src='{{url_for('static', filename = 'images/2436a.png')}}' alt = '2436a'>
					       				<p>
					       					<span>Light Housing</span>
					       					<br/>2436a
					       					<br/>$3
					       				</p>
					       			</div>
					       			<div class='part'>
					       				<img src='{{url_for('static', filename = 'images/44728.png')}}' alt = '44728'>
					       				<p>
					       					<span>Light Housing</span>
					       					<br/>44728
					       					<br/>$3
					       				</p>
					       			</div>
					       			<div class='part'>
					       				<img src='{{url_for('static', filename = 'images/99781.png')}}' alt = '99781'>
					       				<p>
					       					<span>Light Housing</span>
					       					<br/>99781
					       					<br/>$2
					       				</p>
					       			</div>
					       			<div class='part'>
					       				<img src='{{url_for('static', filename = 'images/87087.png')}}' alt = '87087'>
					       				<p>
					       					<span>Light Housing</span>
					       					<br/>87087
					       					<br/>$2
					       				</p>
					       			</div>
					       			<div class='part'>
					       				<img src='{{url_for('static', filename = 'images/2412b.png')}}' alt = '2412b'>
					       				<p>
					       					<span>Radiator</span>
					       					<br/>2412b
					       					<br/>$1
					       				</p>
					       			</div>
					       			<div class='part'>
					       				<img src='{{url_for('static', filename = 'images/98138.png')}}' alt = '98138'>
					       				<p>
					       					<span>Light</span>
					       					<br/>98138
					       					<br/>$1
					       				</p>
					       			</div>
					       			<div class='part'>
					       				<img src='{{url_for('static', filename = 'images/54200.png')}}' alt = '54200'>
					       				<p>
					       					<span>Turn Signal</span>
					       					<br/>54200
					       					<br/>$1
					       				</p>
					       			</div>
					       			<div class='part'>
					       				<img src='{{url_for('static', filename = 'images/3069b.png')}}' alt = '3069b'>
					       				<p>
					       					<span>License</span>
					       					<br/>3069b
					       					<br/>$1
					       				</p>
					       			</div>
					       			<div class='part'>
					       				<img src='{{url_for('static', filename = 'images/2420.png')}}' alt = '2420'>
					       				<p>
					       					<span>Floor</span>
					       					<br/>2420
					       					<br/>$2
					       				</p>
					       			</div>
					       			<div class='part'>
					       				<img src='{{url_for('static', filename = 'images/3023.png')}}' alt = '3023'>
					       				<p>
					       					<span>Floor</span>
					       					<br/>3023
					       					<br/>$1
					       				</p>
					       			</div>
					       			<div class='part'>
					       				<img src='{{url_for('static', filename = 'images/3022.png')}}' alt = '3022'>
					       				<p>
					       					<span>Floor</span>
					       					<br/>3022
					       					<br/>$2
					       				</p>
					       			</div>
					       			<div class='part'>
					       				<img src='{{url_for('static', filename = 'images/3829c01.png')}}' alt = '3829c01'>
					       				<p>
					       					<span>Console</span>
					       					<br/>3829c01
					       					<br/>$3
					       				</p>
					       			</div>
					       			<div class='part'>
					       				<img src='{{url_for('static', filename = 'images/4079.png')}}' alt = '4079'>
					       				<p>
					       					<span>Seat</span>
					       					<br/>4079
					       					<br/>$2
					       				</p>
					       			</div>
					       			<div class='part'>
					       				<img src='{{url_for('static', filename = 'images/60481.png')}}' alt = '60481'>
					       				<p>
					       					<span>Structure</span>
					       					<br/>60481
					       					<br/>$2
					       				</p>
					       			</div>
					       			<div class='part'>
					       				<img src='{{url_for('static', filename = 'images/87552.png')}}' alt = '87552'>
					       				<p>
					       					<span>Structure</span>
					       					<br/>87552
					       					<br/>$2
					       				</p>
					       			</div>
					       			<div class='part'>
					       				<img src='{{url_for('static', filename = 'images/3245b.png')}}' alt = '3245b'>
					       				<p>
					       					<span>Structure</span>
					       					<br/>3245b
					       					<br/>$3
					       				</p>
					       			</div>
					       			<div class='part'>
					       				<img src='{{url_for('static', filename = 'images/3005.png')}}' alt = '3005'>
					       				<p>
					       					<span>Structure</span>
					       					<br/>3005
					       					<br/>$1
					       				</p>
					       			</div>
					       			<div class='part'>
					       				<img src='{{url_for('static', filename = 'images/3004.png')}}' alt = '3004'>
					       				<p>
					       					<span>Structure</span>
					       					<br/>3004
					       					<br/>$2
					       				</p>
					       			</div>
					       			<div class='part'>
					       				<img src='{{url_for('static', filename = 'images/93273.png')}}' alt = '93273'>
					       				<p>
					       					<span>Roof</span>
					       					<br/>93273
					       					<br/>$3
					       				</p>
					       			</div>
					       			<div class='part'>
					       				<img src='{{url_for('static', filename = 'images/2432.png')}}' alt = '2432'>
					       				<p>
					       					<span>Roof</span>
					       					<br/>2432
					       					<br/>$2
					       				</p>
					       			</div>
					       			<div class='part'>
					       				<img src='{{url_for('static', filename = 'images/6091.png')}}' alt = '6091'>
					       				<p>
					       					<span>Roof</span>
					       					<br/>6091
					       					<br/>$2
					       				</p>
					       			</div>
					       			<div class='part'>
					       				<img src='{{url_for('static', filename = 'images/15068.png')}}' alt = '15068'>
					       				<p>
					       					<span>Roof</span>
					       					<br/>15068
					       					<br/>$3
					       				</p>
					       			</div>
					       			<div class='part'>
					       				<img src='{{url_for('static', filename = 'images/85984.png')}}' alt = '85984'>
					       				<p>
					       					<span>Detail</span>
					       					<br/>85984
					       					<br/>$2
					       				</p>
					       			</div>
					       			<div class='part'>
					       				<img src='{{url_for('static', filename = 'images/2431.png')}}' alt = '2431'>
					       				<p>
					       					<span>Detail</span>
					       					<br/>2431
					       					<br/>$1
					       				</p>
					       			</div>
					       			<div class='part'>
					       				<img src='{{url_for('static', filename = 'images/3068b.png')}}' alt = '3068b'>
					       				<p>
					       					<span>Detail</span>
					       					<br/>3068b
					       					<br/>$1
					       				</p>
					       			</div>


					       		</div>
					      	</div>
					    </div>
				  	</div>
				</div>

				<hr>
			</div>
		</main>
		<footer class='container'>
			<p>Copyright © 2019 Paul T. Grogan</p>
		</footer>
	</body>
	<script src={{ url_for('static', filename='js/jquery-3.4.1.min.js') }}></script>
	<script src={{ url_for('static', filename='js/bootstrap.bundle.js') }}></script>
	<script src={{ url_for('static', filename='js/getData.js') }}></script>
	<script src={{ url_for('static', filename='js/tooltips.js') }}></script>
	<script src={{ url_for('static', filename='js/modals.js') }}></script>
</html>

